
<%= render 'user/header' %>

<div class='container'>
	<h2 class="mb70">注文完了</h2>
	<div class="list-bar-box">
		<ul class="list-bar clearfix mb50">
			<li class="list">
				<div class="list-txt">お受け取り方法</div>
				<div class="list-circle2"></div>
			</li>
			<li class="list">
				<div class="list-txt">お支払い方法</div>
				<div class="list-circle2"></div>
			</li>
			<li class="list">
				<div class="list-txt">注文内容</div>
				<div class="list-circle2"></div>
			</li>
			<li class="list">
				<div class="list-txt">注文完了</div>
				<div class="list-circle1"></div>
			</li>
		</ul><!-- /.list-bar -->
	</div>
	<p class="order-txt">注文が完了しました。</p>
</div><!-- /.container -->

<%= render 'user/footer' %>