<div class='container'>
	<h2>購入履歴</h2>
	<div class="purchase-line">
		<% @cd.each do |cd| %>
			<div class="clearfix">
				<%= link_to(carts_path) do %>
					<div class="cd-box2">CD</div>
				<% end %>
				<div class="fl">
					<%= link_to(carts_path) do %>
						<p class="titile-artists2" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
					<% end %>
					<p class="genre-txt">ジャンル</p>
					<p class="price4">価格(税込) :  <span>0,000円</span></p>
				</div>
			</div><!-- /.clearfix -->
		<% end %>
	</div><!-- /.purchase-line -->
</div><!-- /.container -->