<div class='container'>
	<h2>購入履歴</h2>
	<div class="purchase-line">
		<div class="clearfix">
			<div class="cd-box2">CD</div>
			<div class="fl">
				<p class="titile-artists2" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
				<p class="genre-txt">ジャンル</p>
				<p class="price4">価格(税込) :  <span>0,000円</span></p>
			</div>
		</div><!-- /.clearfix -->
	</div><!-- /.purchase-line -->
	<div class="purchase-line">
		<div class="clearfix">
			<div class="cd-box2">CD</div>
			<div class="fl">
				<p class="titile-artists2" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
				<p class="genre-txt">ジャンル</p>
				<p class="price4">価格(税込) :  <span>0,000円</span></p>
			</div>
		</div><!-- /.clearfix -->
	</div><!-- /.purchase-line -->
	<div class="purchase-line mb70">
		<div class="clearfix">
			<div class="cd-box2">CD</div>
			<div class="fl">
				<p class="titile-artists2" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
				<p class="genre-txt">ジャンル</p>
				<p class="price4">価格(税込) :  <span>0,000円</span></p>
			</div>
		</div><!-- /.clearfix -->
	</div><!-- /.purchase-line -->
</div><!-- /.container -->