<!-- 使用変数 :object_name_eng, :-->
<div class="container">
	<div class="row">
		<div class="object-index-head">
			<p class="object-index-head-text"><%= object_name %></p>
		</div>
	</div>
</div>

<script>

</script>