<%= render 'layouts/admins_header' %>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div class="container"> <!-- ここを追加 -->
    <div class="row">
      <div class="col-xs-12">
        <font size="7">発送状態確認一覧</font>
        <form class="form-horizontal" action="/hoge/foo" method="post">
          <div class="form-group">
            <label for="name" class="control-label col-xs-2">検索する名前を入力</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" id="name" name="name" placeholder="your name">
            </div>
          </div>
          <div class="form-group">
            <label for="number" class="control-label col-xs-2">選択してください</label>
            <div class="col-xs-3">
              <select class="form-control" id="number" name="number">
                <option value="1">ユーザー名</option>
                <option value="2" selected="selected">商品名</option>
                <option value="3">発送済みのものでかつユーザー名で検索</option>
                <option value="3">発送済みのものでかつ商品名で検索</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-primary">検索</button>
            </div>
          </div>
        </form>
        <!-- 後でラインを追加 -->
        <table class="table table-condensed">
          <thead>
              <tr>
                  <th>ユーザー名</th>
                  <th>商品名</th>
                  <th>送付先</th>
                  <th>発送済みにする</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="info">1</td>
                  <td class="danger">お茶<br>みかん<br>弁当</td>
                  <td class="warning">アメリカ合衆国ワシントン州</td>
                  <td>
                    <p><%= link_to 'この商品を発送済みにする', admin_cd_path(1) ,class: "btn btn-primary btn-lg active btncolor"%></p>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
