<div class='container'>
  	<div class="clearfix">
		<div class='fl'>
			<div class="sideber">
				<ul style="padding-left: 20px;">
					<li class="genre"><i class="glyphicon glyphicon-search"></i> ジャンルから探す</li>
					<li class="genre-menu">J-pop</li>
					<li class="genre-menu">K-pop</li>
					<li class="genre-menu">ロック</li>
					<li class="genre-menu">ラップ</li>
					<li class="genre-menu">ブルース</li>
					<li class="genre-menu">ジャズ</li>
					<li class="genre-menu">サウンドトラック</li>
					<li class="genre-menu">アニメ</li>
				</ul>
			</div>
		</div>
		<div class='ranking-box'>
			<div class="ranking">
				<div class="single-rank">シングル ランキング</div>
				<div class="clearfix">
					<div class="rank1">
						<div class="rank-icon-box">
							<%= image_tag("rank1-icon.png") %>
							<div class="rank-icon-txt"><span>1 </span>位</div>
						</div>
						<div class="rank-box">CD</div>
						<p class="titile-artists"><span>タイトル</span><br>アーティスト名</p>
					</div>
					<div class="rank2">
						<div class="rank-icon-box">
							<%= image_tag("rank2-icon.png") %>
							<div class="rank-icon-txt"><span>2 </span>位</div>
						</div>
						<div class="rank-box">CD</div>
						<p class="titile-artists"><span>タイトル</span><br>アーティスト名</p>
					</div>
					<div class="rank3">
						<div class="rank-icon-box">
							<%= image_tag("rank3-icon.png") %>
							<div class="rank-icon-txt"><span>3 </span>位</div>
						</div>
						<div class="rank-box">CD</div>
						<p class="titile-artists"><span>タイトル</span><br>アーティスト名</p>
					</div>
				</div><!-- /.clearfix -->
			</div>
		</div>
	</div><!-- /.clearfix -->
	<h2>NEW シングル</h2>
	<div class="cd-box-container clearfix">
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
	</div><!-- /.clearfix -->
	<h2>NEW アルバム</h2>
	<div class="cd-box-container clearfix">
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
		<div class="cd-con">
			<div class="cd-box">CD</div>
			<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
			<p class="titile-artists" style="margin-bottom: 0;"><span>タイトル</span><br>アーティスト名</p>
			<p class="price">値段 ｜ 0,000円</p>
		</div>
	</div><!-- /.clearfix -->
</div><!-- /.container -->