<div class='container'>

	<%= render 'user/header' %>

	<div class="cd-detail">
		<div class="clearfix">
			<div class="clearfix">
				<div class="cd-box3">CD</div>
				<div class="fl">
					<p class="titile-artists3 mb10"><span>タイトル</span><br>アーティスト名</p>
					<p class="category-txt" style="margin-bottom: 0;">ジャンル</p>
					<p class="category-txt">レーベル</p>
				</div>
				<div class="price-box">
					<p class="price3-txt"><span>価格</span>(税込)</p>
					<p class="price3">0,000円</span></p>
					<div class="cart-btn2 mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
					<p class="stock-txt">在庫あり</p>
					<p class="stock-txt2">在庫なし</p>
					<p class="stock-txt2-note">※(例)○月○日頃入荷予定、未定</p>
				</div>
			</div><!-- /.clearfix -->
		</div><!-- /.clearfix -->
	</div>
	<div>
		<h3>商品紹介</h3>
		<div class="introduction-txt">・テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>・テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>・テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>・テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br> ・テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
		<h3>収録曲</h3>
		<div class="recording-titile-txt">タイトル名</div>
		<p class="disk-titile">ディスク 1</p>
		<table class="mb70">
			<tr>
				<th class="table-bg1">01.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">02.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg1">03.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">04.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg1">05.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">06.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg1">07.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">08.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg1">09.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">10.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg1">11.　曲名</th>
			</tr>
			<tr>
				<th class="table-bg2">12.　曲名</th>
			</tr>
		</table>
	</div>

	<%= render 'user/footer' %>

</div><!-- /.container -->