// Place all the styles related to the admin::cds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// cdのフォーム
.music-form-items{
	float: right;
	width: 90%;
}

#form-music-oder {
	width: 15% !important;
	display: inline-block !important;
}

#form-music-name {
	width: 70% !important;
	display: inline-block !important;
}

// 値段、在庫数のフォームを少し小さく
.form-price-label, .form-stock-label {
	width: 10% !important;
	display: inline-block !important;
}

.form-price-field, .form-stock-field {
	width: 20% !important;
	display: inline-block !important;
}

// ボタンを大きく
#form-submit-btn {
	height: 60px;
	margin: 0 auto;
	width: 100%;
}

.form-cd-image-box {
	display: inline-block;
	margin-top: 40px;
  width: 250px;
  height: 250px;
}

// アルバムの削除ボタン
.remove-album-btn {
	float: right;
}

.album-text-form {
	margin-top: 30px;
}

// 表示画像の大きさ
.jacket {
	width: 100%;
}

.album-form-box {
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}

.form-seach-field {
	width: 80% !important;
	display: inline-block !important;
}
.form-seach-btn {
	width: 15% !important;
	display: inline-block !important;
	float: right;
}

.add-music-btn {
	width: 8%;
	display: inline-block !important;
	float: left;
}





// アーティスト、ジャンル、レーベルの一覧画面設定
.object-index-head {
	width: 100%;
	height: 50px;
	background-color: #00bfff;
}

.object-index-head-text {
	font-size: 30px;
	margin-left: 20px
}


.object-seach-form, .new-object-box {
	padding: 20px;
	margin-top: 40px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.new-object-box {
	margin: 30px 0;
}
.new-object-btn {
	width: 40%;
	margin: 0 30%;
}


.form-seach-btn-object {
	width: 100% !important;
}

.form-seach-btn-object {
	margin-top: 20px;
}


// ---------------------------------
.cd-box-container{
	padding-top: 50px;
}
.price-box2{
	width: 350px;
	float: right;
	margin-right: 100px;
	padding: 20px;
	background-color: #fbfbfb;
	border: 1px solid #CCCCCC;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
.padding-zaiko{
	padding-top: 20px;
}
