
<%= render 'user/header' %>

<div class='container'>
	<h2 class="mb70">退会完了</h2>
	<div class="unsubscribe-box">
		<p class="unsubscribe-titile-txt">ご利用ありがとうございました。</p>
	</div>
	<%= render 'user/footer' %>
</div>

