<div class='container'>
  <div class="signin-box">
    <div class="devise-title-txt">編集</div>
    <div class="member-edit-txt">名前</div>
    <input type="name_kanji" class="form-control mb15">
    <div class="member-edit-txt">フリガナ</div>
    <input type="name_kana" class="form-control mb15">
    <div class="lmember-edit-txt">郵便番号</div>
    <input type="postcode" class="form-control mb15">
    <div class="member-edit-txt">住所</div>
    <input type="street_address" class="form-control mb15">
    <div class="member-edit-txt">電話番号</div>
    <input type="phone_number" class="form-control mb15">
    <div class="member-edit-txt">メールアドレス</div>
    <input type="email" class="form-control mb15">
    <div class="member-edit-txt">パスワード</div>
    <input type="text" class="form-control mb15">
    <div class="member-edit-txt">もう一度パスワードを入力してください</div>
    <input type="text" class="form-control mb30">
    <div class="login-btn">編集</div>
  </div>
</div><!-- /.container -->